/* configurações gerais */
body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    text-align: center;
}
header {
    width: 100%;
    padding: 10px 0px;
    background-color: #9684F3;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 100px;
}
nav{
    padding: 25px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #849FE9;
}
#linkMenu{
    display: flex;
    gap: 50px;
}
.link{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    background-color: #A069FC;
    padding: 10px;
    border-radius: 5px;
}
.link:hover{
    transform: scale(1.2);
}
.imgMascote{
    width: 75px;
    height: 75px;
}
.containerIntroduction{
    text-align: justify;
    padding: 50px 100px;
}
.paragrafo1{
    margin-top: 25px;
}
.title{
    font-size: 2rem;
}
table {
    /* esp. externo de 0 acima e abaixo e automático esq. dir. */
    margin: 0 auto; 
}
.laranja {
    background-color: orange;
}
.azul {
    background-color: blue;
    color: white;
}
.preta {
    background-color: black;
    color: white;
}
.roxo {
    background-color: purple;
}
.verde {
    background-color: green;
}
.vermelha {
    background-color: red;
}
.campos{
    margin-bottom: 25px;
    border: 2px solid #849FE9;
    border-radius: 5px;
    padding: 20px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    gap: 10px;
}